<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 2px;
        background-color: rgba(255, 255, 255, 0.55);
        border-top: 1px solid #ddd;
    }

    .footer a {
        color: #333;
        margin: 0 10px;
        text-decoration: none;
        font-size: 20px;
    }
</style>
<div class="footer">
    <a href="https://github.com/YourGitHubUsername" target="_blank">
        <img src="/images/github-icon.png" alt="GitHub" width="32" height="32">
    </a>
    <a href="https://leetcode.com/YourLeetCodeUsername" target="_blank">
        <img src="/images/leetcode-icon.png" alt="LeetCode" width="32" height="32">
    </a>
    <p>Project created by Abhishek Arora</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
</script>